/*header start*/
h1 {
	color: blue;
}

div a, nav a {
  text-decoration: none;
}
header {
  display: flex;
}

/*header end*/

.fio{
    width: 65%;
    margin-right: 2%;
    text-align: center;
    margin: auto;
}

/*logo start*/
#triangle-right {
	  z-index: 1;
    margin-bottom: -16px;
    position: absolute;
    top: 0px;
    left: 46px;
    width: 0;
    height: 0;
    border-top: 70px solid transparent;
    border-left: 180px solid #4aa666;
    border-bottom: 70px solid transparent;
	}

#triangle-top {
    z-index: 2;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0px;
    left: 70px;
    border-top: 70px solid gray;
    border-left: 140px solid transparent;
    border-bottom: 10px solid transparent;
    transform: skew(30deg);
}

#triangle-bottom {
	  z-index: 2;
    left: 66px;
    top: 71px;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 70px solid transparent;
    border-right: 139px solid #a6c0a6;
    border-bottom: 0px solid transparent;
    transform: skew(-30deg);
}

#triangle-left {
	width: 0;
    height: 0;
    border-top: 70px solid transparent;
    border-right: 45px solid #2b622b;
    border-bottom: 70px solid transparent;
}

.logo {
	position: relative;
  margin-right: 19%;
}

#js {
    z-index: 1;
    position: absolute;
    transform: rotate(31deg);
    left: -56px;
    top: -111px;
    font-size: 42px;
}

#css {
    z-index: 1;
    position: absolute;
    left: -153px;
    top: -87px;
    font-size: 42px;
}

#css:first-letter {
	font-size: 62px;
}

#data{
    z-index: 1;
    position: absolute;
    transform: rotate(-28deg);
    left: 59px;
    top: -90px;
    font-size: 39px;
}

#krossword {
    z-index: 1;
    position: relative;
    left: 32px;
    top: -62px;
    font-size: 17px;
    width: 1ch;
    text-align: center;
    line-height: 0.6;
    font: Consolas, Monaco, monospace;
    word-wrap: break-word;
}

/*logo end*/

header::after {
  clear: both;
}

/*navigation start*/
 .navigation {
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
 }

.navigation ul {
  padding-left: 0;
  display: inline-block;
  overflow: hidden;
}
.navigation li {
  display: inline;
  float: left;
}

.navigation a {
  display: inline-block;
  font-family: sans-serif;
  color: gray;
  font-size: 1.8em;
  display: inline-block;
  border-bottom: 2px solid darkgray;
  padding: 10px 20px;
}

.navigation a:hover {
  background-color: #424744c9;
  color: white;
}

.active {
  background-color: #e1e1e1;
}
/*navigation end*/

.news {
  float: left;
  width: 14%;
  height: 100Vh;
  background-color: darkgray;
  margin-right: 15px;
}

.main-content {
  float: left;
  width: 60%;
  background-color: #b9b8b8ab;
  margin-right: 15px;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.625;
  padding: 10px;
}

/*formatting start*/
.add_navigation {
  float: left;
  width: 22%;
  background-color: darkgray;
}

.add_navigation li {
  list-style-type: none;
  padding: 10px 15px;
}
.add_navigation ul {
  margin-left: 0;
  padding-left: 0;
}

.add_navigation a {
  font-family: sans-serif;
  color: #344285;
  font-size: 1.3em;
}



div[id^=div]{
  display: none;
  padding: 15px;
  min-height: 1px;
}

#div_1 {
  display: block;
  padding: 15px;
} 

#a_1 {
  font-weight: bold;
}

tr>td:last-child{
  text-align: center;
}

tr:hover {
  background-color: #919698;
}

/*.d {
  margin: 15px;
}*/

.btn {
  display: inline-block; 
  background: #8C959D; 
  color: #fff; 
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: 3px;
  color: #344289;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
 }

 summary {
    font-size: 1.5em;
    border: 1px solid green;
    border-radius: 4px;
    max-width: 250px;
    color: #47608e;
    font-weight: bold;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 0 7px 15px rgba(0,0,0,0.5);
 }
 summary:hover {
  color: white;
  background-color: #a9ae41;
 }

 details p {
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  color: brown;
 }
  
  #div_6 p, #div_6 li {
    text-align: justify;
  }
 /*formatting end*/


/*footer start*/
footer {
  
}
footer section {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: darkgray;
  text-align: center;
}
/*footer end*/


tbody {
  font-size: 90%;
  font-style: italic;
}

tfoot, caption {
  font-weight: bold;
}

/*krossword start*/
.nonogram_table td {
  border: 1px solid black;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

.nonogram_table td.num_empty {
    background: #dadada;
    border-color: #808080;
    cursor: default;
}

.nonogram_table td table td {
    width: 18px;
    height: 17px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    font-size: 0;
    border: 1px solid #8F8F8F;
    vertical-align: middle;
}

.nonogram_table td div {
    /*width: 18px;*/
    /*height: 17px;*/
    text-align: center;
    font-size: 11px;
    line-height: 15px;
    padding: 0px;
    vertical-align: top;
}
/*krossword end*/


/*css_page start*/
.parent textarea {
  color: #783c00;
  background-color: lightgray;
  font-size: 1.5em;
  padding: 19px;
  text-align: justify;
}

.child textarea {
  background-color: #23aea3;
  margin-left: 38px;
  margin-right: 38px;
}

.nb {
  width: 50%;
  height: 17vw;
  border: 5px solid darkslategrey;
  float: left;
  background-color: gray;
  margin-right: 15px;
}

.frame {
  border-right: 6px solid #404440;
  border-left: 6px solid #404440;
}

.poster {
  /*padding: 15px;*/
  color: #5c2b2b;
}

.ground {
    color: #d0d0d0;
    font-size: 150pt;
    position: absolute;
    width: 57%;
    margin: 0;
    z-index: -1;
    text-align: center;
}

.left, .right {
  min-height: 750px;
  padding: 10px;
  border: 2px solid #79795d;
  width: 45%;
}

.left {
  /*float: left;*/
  margin-right: 20px;
}

.right {
  /*float: right;*/

  flex-basis: 300px;
  flex-shrink: 0;
}

.columns {
  /*display: flex;*/
  height: 1px;
}




/*css_page end*/

/*js_page start*/
#container {
  display: block;
  width: 50vw;
  height: 50vw;
  background: #f0eff2;
  margin: 0 auto;
  position: relative;
  text-align: left;
  margin-bottom: 3%;
}
#animate {
  position: absolute;
  color: #344285;
  font-size: 3em;
  font-weight: bold;
}

#container p {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}


/*js_page end*/

/*footer start*/

footer>section>ul {
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
  max-width: 600px;
}

section>ul>li:first-child {
  float: left;
}

section>ul>li {
  font-size: 1.2em;
  font-weight: bold;
}

section>ul>li>span:first-child {
  margin-right: 10px;
}


/*footer end*/

@media screen and (device-width: 1440px) {
  #animate {
    font-size: 2.7em;
  }
}

@media screen and (device-width: 1024px) {
  #animate {
    font-size: 2.0em;
  }
}

@media (max-width: 1150px) {
  .add_navigation a {
    font-size: 1.1em
  }
}

@media  (min-width: 600px) and (max-width: 768px){
  #animate {
    font-size: 1.5em;
  }
}

@media  (min-width: 1400px) and (max-width: 1500px){
  .ground {
    font-size: 140pt;
  }
}

@media  (min-width: 1000px) and (max-width: 1399px){
  .ground {
    font-size: 120pt;
  }
}

@media  (min-width: 850px) and (max-width: 999px){
  .ground {
    font-size: 100pt;
  }
}

@media  (min-width: 650px) and (max-width: 849px){
  .ground {
    font-size: 80pt;
  }
}

@media  (min-width: 520px) and (max-width: 649px){
  .ground {
    font-size: 70pt;
  }
}

@media  (min-width: 450px) and (max-width: 519px){
  .ground {
    font-size: 60pt;
  }
}

@media (max-width: 519px){
  .ground {
    font-size: 50pt;
  }
}