html {
  --lh: 1.6rem;
  line-height: var(--lh);
}

html,
body {
  min-height: 100%;
  height: 100%;
}

/*header start*/
h1 {
	color: blue;
}

div a, nav a {
  text-decoration: none;
}
header {
  display: flex;
}

/*header end*/

.fio{
    width: 65%;
    margin-right: 2%;
    text-align: center;
    margin: auto;
}

/*logo start*/
#triangle-right {
	  z-index: 1;
    margin-bottom: -16px;
    position: absolute;
    top: 0px;
    left: 46px;
    width: 0;
    height: 0;
    border-top: 70px solid transparent;
    border-left: 180px solid #4aa666;
    border-bottom: 70px solid transparent;
	}

#triangle-top {
    z-index: 2;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0px;
    left: 70px;
    border-top: 70px solid gray;
    border-left: 140px solid transparent;
    border-bottom: 10px solid transparent;
    transform: skew(30deg);
}

#triangle-bottom {
	  z-index: 2;
    left: 66px;
    top: 71px;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 70px solid transparent;
    border-right: 139px solid #a6c0a6;
    border-bottom: 0px solid transparent;
    transform: skew(-30deg);
}

#triangle-left {
	width: 0;
    height: 0;
    border-top: 70px solid transparent;
    border-right: 45px solid #2b622b;
    border-bottom: 70px solid transparent;
}

.logo {
	position: relative;
  margin-right: 19%;
}

#js {
    z-index: 1;
    position: absolute;
    transform: rotate(31deg);
    left: -56px;
    top: -111px;
    font-size: 42px;
}

#css {
    z-index: 1;
    position: absolute;
    left: -153px;
    top: -87px;
    font-size: 42px;
}

#css:first-letter {
	font-size: 62px;
}

#data{
    z-index: 1;
    position: absolute;
    transform: rotate(-28deg);
    left: 59px;
    top: -90px;
    font-size: 39px;
}

#krossword {
    z-index: 1;
    position: relative;
    left: 32px;
    top: -62px;
    font-size: 17px;
    width: 1ch;
    text-align: center;
    line-height: 0.6;
    font: Consolas, Monaco, monospace;
    word-wrap: break-word;
}

/*logo end*/

header::after {
  clear: both;
}

/*navigation start*/
 .navigation {
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
 }

.navigation ul {
  padding-left: 0;
  display: inline-block;
  overflow: hidden;
}
.navigation li {
  display: inline;
  float: left;
}

.navigation a {
  display: inline-block;
  font-family: sans-serif;
  color: gray;
  font-size: 1.8em;
  display: inline-block;
  border-bottom: 2px solid darkgray;
  padding: 10px 20px;
}

.navigation a:hover {
  background-color: #424744c9;
  color: white;
}

.active {
  background-color: #e1e1e1;
}
/*navigation end*/

.news {
  float: left;
  width: 14%;
  height: 100Vh;
  background-color: darkgray;
  margin-right: 15px;
}

.main-content {
  float: left;
  width: 60%;
  background-color: #b9b8b8ab;
  margin-right: 15px;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.625;
  padding: 10px;
}

/*formatting start*/
.add_navigation {
  float: left;
  width: 22%;
  background-color: darkgray;
}

.add_navigation li {
  list-style-type: none;
  padding: 10px 15px;
}
.add_navigation ul {
  margin-left: 0;
  padding-left: 0;
}

.add_navigation a {
  font-family: sans-serif;
  color: #344285;
  font-size: 1.3em;
}



div[id^=div]{
  display: none;
  padding: 15px;
  min-height: 1px;
}

.center {
  text-align: center;
}

#div_1 {
  display: block;
  padding: 15px;
} 

#a_1 {
  font-weight: bold;
}

tr>td:last-child{
  text-align: center;
}

.rashod tr:hover {
  background-color: #919698;
}

.btn {
  display: inline-block; 
  background: #8C959D; 
  color: #fff; 
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: 3px;
  color: #344289;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  font-size: 1.1em;
 }

 summary {
    font-size: 1.5em;
    border: 1px solid green;
    border-radius: 4px;
    max-width: 250px;
    color: #47608e;
    font-weight: bold;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 0 7px 15px rgba(0,0,0,0.5);
 }
 summary:hover {
  color: white;
  background-color: #a9ae41;
 }

 details p {
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  color: brown;
 }
  
  #div_6 p, #div_6 li {
    text-align: justify;
  }
 /*formatting end*/


/*footer start*/
footer {
  
}
footer section {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: darkgray;
  text-align: center;
}
/*footer end*/


tbody {
  font-size: 90%;
  font-style: italic;
}

tfoot, caption {
  font-weight: bold;
}

/*krossword start*/

#nmti {
  background:#f0f0f0;
  cursor:default;
}
.nonogram_table td {
  border: 1px solid black;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

.nonogram_table td.num_empty {
    background: #dadada;
    border-color: #808080;
    cursor: default;
}

.nonogram_table td table td {
    width: 18px;
    height: 17px;
    text-align: center;
    color: #000000;
    cursor: pointer;
    font-size: 11px;
    border: 1px solid #8F8F8F;
    vertical-align: middle;
    padding: 0;
}

.nonogram_table td div {
    /*width: 18px;*/
    /*height: 17px;*/
    text-align: center;
    font-size: 11px;
    line-height: 15px;
    padding: 0px;
    vertical-align: top;
}

.pic {
  background-color: white;
}

.game_pic tr>td:nth-child(5n) {
  border-right: 1px solid #504847;
}

#topTable tbody tr td:nth-child(5n) {
  border-right: 1px solid;
}
#leftTable tbody tr:nth-child(5n) td {
  border-bottom: 1px solid;
}
.game_pic tr:nth-child(5n)>td {
  border-bottom: 1px solid #504847;
}

#stop_game, #reset_game, #result {
  display: none;
}

.game_btns {
  text-align: center;
  margin-bottom: 15px;
}

#winner {
  display: none;
  font-size: 1.5em;
  text-align: center;
  color: #ce4b4b;
  font-weight: bold;
}
/*krossword end*/


/*css_page start*/
.parent textarea {
  color: #783c00;
  background-color: lightgray;
  font-size: 1.5em;
  padding: 19px;
  text-align: justify;
}

.child textarea {
  background-color: #23aea3;
  margin-left: 38px;
  margin-right: 38px;
}

.nb {
  width: 50%;
  height: 17vw;
  border: 5px solid darkslategrey;
  float: left;
  background-color: gray;
  margin-right: 15px;
  border-radius: 7px;
}

.frame {
  border-right: 6px solid #404440;
  border-left: 6px solid #404440;
}

.poster {
  /*padding: 15px;*/
  color: #5c2b2b;
}

.ground {
    color: #d0d0d0;
    font-size: 150pt;
    position: absolute;
    width: 57%;
    margin: 0;
    z-index: -1;
    text-align: center;
}

.left, .right {
  /*min-height: 750px;*/
  padding: 10px;
  border: 2px solid #79795d;
  width: 45%;
  border-radius: 5px; 
}

.left ol, .right ol, .left ul {
  padding-left: 6%;
}

.left {
  margin-right: 10px;
  /*float: left;*/
}

.columns {
  display: flex;
  height: 100%;
  justify-content: center;
}

.scroll {
  overflow: scroll;
  width: 90%;
  height: 510px;
  padding: 10px;
  border: solid 3px #6085ac;
  margin: 0 auto;
  border-radius: 8px;
}

.media {
  text-overflow: ellipsis; /*добавляем многоточие*/
  overflow: hidden; /*скрываем не поместившееся*/
  white-space: nowrap; /*делаем без переноса*/

}

#dotes {
  border: 3px solid #754551;
  padding: 5px;
  border-radius: 4px;
}
.mediacolumns p:first-letter{
  font-size: 3em;
  margin-right: 3px;
}

.mediacolumns {
  columns: 2;
  border: 3px solid #754551;
  padding: 10px;
  border-radius: 8px;
}

.select_attr ul{
  margin-left: 0;
  padding-left: 0;
  margin: 0 auto;
}

.select_attr ul>li{
  list-style-type: none;
  font-size: 2em;
  margin-left: 10%;
}

li[class^="begin"]{
  color: red;
  font-weight: bold;
}

li[class$="end"]{
  color: green;
  font-weight: bold;
}

li[class*="middle"]{
  color: brown;
  font-weight: bold;
}

.select_attr h3{
  text-align: center;
}

.psevdo ul>li{
  background-color: #111b24;
  font-size: 1.5em;
  display: inline-block;
  margin: 10px;
  color: white;
  padding: 5px;
  border-radius: 4px;
  min-width: 35px;
  font-weight: bold;
}

.tasks ul {
  margin-left: 0;
  padding-left: 0;
}
.tasks label {
  display: block;
  background-color: #09560e;
  margin: 5px;
  color: #c2d61a;
  font-size: 1.2em;
  padding: 5px;
  min-width: 200px;
  text-align: center;
  border: 2px solid black;
  border-radius: 4px; 
  font-weight: bold;
}

.tasks label:hover {
  background-color: #1c7a22;
  color: #c2d61a;
  cursor: pointer;
}

.tasks label:active {
  color: yellow;
  background-color: #0c2c0e;
  color: black;
}

.checks {
  display: none;
}

input[id^="task"] {
  /*display: none;*/
}

/*блок с заданием номера start*/
.number {
  display: none;
  justify-content: center;
  align-items: center;
}

.number span {
  font-size: 1.4em;
  color: #e22323;
  font-weight: bold;
  margin-right: 20px;
  vertical-align: middle;
}

.number input {
  width: 50px;
  height: 35px;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 1.6em;
  padding: 5px;
  margin-right: 10px;
}

.ok {
  padding: 5px !important;
  height: auto !important;
  background-color: white;
  color: red;
}

.ok:hover {
  cursor: pointer;
  background-color: #2a2a2a;
  color: white;   
}

.ok:active {
  background-color: #404543;
}
/*блок с заданием номера end*/

#task_1:checked ~ .changeLi>li:first-child {
  background-color: #0b4b87;
  color: #c3df2a;
}

#task_2:checked ~ .changeLi>li:last-child {
  background-color: #3dab00;
  color: black;
}

#task_3:checked ~ .changeLi>li:nth-child(even) {
  background-color: white;
  color: black;
  border: 2px solid black;
}

#task_4:checked ~ .changeLi>li:nth-child(odd) {
  /*background-color: #444141;;
  color: white;
  border: 2px solid white;*/
  background-color: white;
  color: black;
  border: 2px solid black;
}

#task_5:checked ~ .changeLi>li:nth-child(5n+1), #task_5:checked ~.changeLi>li:nth-child(5n+1) + li {
  background-color: white;
  color: black;
  border: 2px solid black;
}

#task_6:checked ~ .changeLi>li {
  background-color: #111b24;
  color: white;
}

#task_7:checked ~ .changeLi>li:not(.notall) {
  background-color: white;
  color: black;
  border: 2px solid black;
}

#task_8:checked ~ .changeLi>li {
  background-color: #111b24;
  color: white;
}

#reset {
  color: #e22323;
}

.tasks {
  display: flex;
  justify-content: center;
}

/*colors_mode start*/
.colors_mode {
  font-size: 1.4em;
  font-weight: bold;
  border: 4px solid;
  max-width: 300px;
  margin: 10px auto;

}
.colors_mode_1 {
  border-radius: 10px 40px 40px 10px;
  background: hsl(238, 51%, 75%);
}

.colors_mode_2 {
  background: hsla(120, 100%, 50%, 0.3);
  border: ridge gold;
  border-radius: 13em/3em;
}

.colors_mode_3 {
  border: dotted;
  border-width: 10px 4px;
  border-radius: 10px 5% / 20px;
}
/*colors_mode end*/

#shadow {
  font-size: 4.2em;
  font-weight: bold;
  color: rgba(0,0,0,0.7);
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
  background: radial-gradient(circle farthest-corner at 100px 50px, #FBF2EB, #352A3B);
}

#mashtab {
  height: 600px;
}

#imgsize {
  background-image: url(../img/milky-way.jpg);
  height: 60%;
}

#imgsize:hover {
  height: 93%;
  background-size: cover;
}

/*
.rotate {
  width: 200px;
  background-color: red; 
  margin: 0 auto;
}

.rotate:hover {
   transform: rotate(720deg);

}
*/

.wrap {
  display: inline-block;
  margin: 0 40px 2em 0;
  background: rgba(228, 225, 228, .5);
}

.move div {
  width: 170px;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.one {
  background: rgba(19, 41, 55, 0.4);
}
.one:hover {
  -o-transform: translateX(250px);
  -ms-transform: translateX(250px);
  -moz-transform: translateX(250px);
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
}

.rotate {
  max-width: 160px;
  margin: 0 auto;
  background-color: #412809;
  color: white;
  height: 100px;
  line-height: 100px;
}

.rotate:hover {
  transform: rotate(360deg);
  transition: 0.5s ease-in-out;
}

.skew:hover {
  transform: skew(0, 10deg)
}

.skew {
  max-width: 160px;
  margin: 0 auto;
  background-color: #194841;
  color: white;
  height: 100px;
  line-height: 100px;
}

.talign {
  width: 50%;
  height: 100px;
  background-color: #3c3c3cd6;
  color: white; 
  font-size: 1.1em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 5px;
}

.horizont {
  justify-content: center;
  align-items: unset;
}

.list {
  width: 60%;
  background-color: #3c3c3cd6; 
  margin: 0 auto;
  padding: 5px;
}

.list ul, .list ol {
  margin-left: 0;
  padding-left: 0;
}

.list ul>li, .list ol>li{
  list-style-type: none;
  padding: 5px;
  background-color: white;
  width: 5%;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  border: 2px solid #1ea6e7;
  border-radius: 3px;
}

.right_side li:nth-child(2){
  background-color: green;
  float: right;
}


.transform_list {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.reverse_list {
  display: flex;
  flex-direction: column-reverse;
  list-style: none;
  align-items: center;
}

.reverse_list li {
  flex: 0 0 auto;
  /*flex-direction: column-reverse;*/
}

/*css_page end*/

/*js_page start*/
#container {
  display: block;
  width: 50vw;
  /*height: 50vw;*/
  background: #f0eff2;
  margin: 0 auto;
  position: relative;
  text-align: left;
  margin-bottom: 3%;
}
#animate {
  position: absolute;
  color: #344285;
  font-size: 3em;
  font-weight: bold;
}

#container p {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}

.btn_div{
  text-align: center;
}

/*js_page end*/

/*footer start*/

footer>section>ul {
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
  max-width: 600px;
}

section>ul>li:first-child {
  float: left;
}

section>ul>li {
  font-size: 1.2em;
  font-weight: bold;
}

section>ul>li>span:first-child {
  margin-right: 10px;
}


/*footer end*/

/*form start*/
form {
  border: 2px solid #2862cb;
  border-radius: 6px;
  padding: 5px 10px;
  width: 60%;
  margin: 0 auto;
}

hr {
  margin-top: 30px;
}

.inline {
  display: inline-block;
}

.userField {
  /*float: right;*/
  display: inline-block;
  width: 100%;
  text-align: right;  
}

.mt {
  margin-top: 20px;
}

.input_client {
  border: 1px solid #4d4de9;
  border-radius: 3px;
  padding: 5px 10px;
  width: 91%;
  font-size: 1em;
  color: #795548;
  text-align: right;
  float: left;
}

.inputuser {
  border: 1px solid #4d4de9;
  border-radius: 3px;
  padding: 5px 10px;
  width: 60%;
  font-size: 1em;
  color: #795548;
  text-align: right;
  float: right;
}

.inputuser:focus, .input_client:focus {
  border: 2px solid #555;
}

.btn_block, .btn_block>input {
  text-align: center;
  margin-top: 35px;
}

.send {
  border: 1px solid #4d4de9;
  border-radius: 3px;
  padding: 5px 10px;
  width: 60%;
  font-size: 1.4em;
  margin: 20px 0px;
  background-color: #36a236f7;
  color: white;  
}

.send:hover {
  background-color: #047004f7;
  cursor: pointer;
}

.send:active {
  background-color: #024b02;
  cursor: pointer;
}

input:invalid + span:after {
  float: left;
    color: red;
    font-weight: bolder;
    content: '✖'; 
    padding-left: 5px;
}
input:valid + span:after {
  float: left;
    color: green;
    font-weight: bolder;
    content: '✓'; 
    padding-left: 5px;
}

.mt-5 {
  margin-top: 50px;
}

form>div>p {
  position: relative;
}

form>div>p>label {
  line-height: 30px;
}

.date {
  padding: 2px 10px;
}

#total_percent {
  width: 20px;
}

.percent:after {
  content: "" !important;
}

#percent {
    float: right;
    -webkit-appearance: none;
    width: 30%;
    height: 8px;
    border-radius: 7px;
    background: #483b3b;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    transform: translate(0, -50%);
}

#percent::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: gray;
    cursor: pointer;
}

#percent::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: gray;
  cursor: pointer;
}

#percent:after {
  clear: both;
}

#for_percent {
  height: 1px;
}

.percent {
  float: right;
  margin-left: 5px;
  font-size: 1.2em;
  font-weight: bold;
}

.search {
  display: flex;
  justify-content: center;
  border: unset;
  width: 95%;
}


.find {
  color: white;
  background-color: #4d4d4d;
  font-size: 1em;
  padding: 5px 20px; 
  border-radius: 5px;
  margin-left: 10px;
}

.find:hover {
  cursor: pointer;
}

.find:active {
  background-color: #0e0b0a;
}

.searchInput {
  width: 60%;
  padding: 5px 10px;
  border-radius: 4px;
  border: 2px solid #554d80;
  font-size: 1em;
}

.searchInput:focus {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/*form end*/

/*dates start*/
.mb-5 {
  margin-bottom: 5px;
}

.wth-50 {
  width: 50%;
}

.minus_5 {
  margin-top: -5px;
}

.person {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin-top: 20px;
}

.person caption {
  margin-bottom: 10px;
}

.person td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.person tr:nth-child(even) {
  background-color: #fcf7f7;
}

.person tr:nth-child(odd) {
  background-color: #c6c1c1;
}

.date_contract {
  width: 20%;
}


/*dates end*/

@media (max-width: 300px) {
  .news, .add_navigation {
    display: none;
  }
}

@media screen and (device-width: 1440px) {
  #animate {
    font-size: 2.7em;
  }
}

@media screen and (device-width: 1024px) {
  #animate {
    font-size: 2.0em;
  }
}

@media (max-width: 1150px) {
  .add_navigation a {
    font-size: 1.1em
  }
}

@media (max-width: 1400px) {
  .mediacolumns p:first-letter{
    font-size: inherit;
    margin-right: 0;
  }

  .mediacolumns {
    columns: 1;
  }

  .transform_list li {
    display: inline-grid !important;
    margin-right: 5px;
  }

  .list ul {
    text-align: center;
  }
}

@media  (min-width: 350px) and (max-width: 768px){
  #animate {
    font-size: 1.5em;
  }
}

@media  (min-width: 1400px) and (max-width: 1500px){
  .ground {
    font-size: 140pt;
  }
}

@media (max-width: 380px) {
  #total_percent {
    float: none !important;
  }
}

@media (max-width: 415px) {
  .send {
    font-size: 1em !important;
  }

  .percent {
    display: none;
  }
}

@media (max-width: 500px) {
  .send {
    font-size: 1.2em;
  }
}

@media (max-width: 620px) {
  .search {
    display: block;
    text-align: center;
  }
  .searchInput {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 560px) {
  .table {
    font-size: 12px !important;
    padding: 2px !important; 
  }

  table>thead>tr>th {
    padding: 0px;
  }

  table>tbody>tr>td {
    padding: 3px; 
  }
}

@media (max-width: 650px) {
  .table {
    font-size: 12px;
  }
}

@media (max-width: 770px) {
  .send {
    width: 80% !important;
  }

  .input_client {
    font-size: 0.8em !important;
  }

  .columns {
    display: block !important;
  }
  .right, .left {
    width: 95% !important;
    /*float: left;*/
  }

  .left {
    margin-bottom: 10px;
  }
}

@media (max-width: 1330px) {
  form {
    width: 95%;
  }

  .send {
    width: 60%;
  }
}

@media (max-width: 375px) {
  .tasks label {
    font-size: 1em;
  }
}

@media (max-width: 750px) {
  .tasks label {
    min-width: unset;
  }
}

@media (min-width: 350px) and (max-width: 370px) {
  .input_client {
    width: 70%;
  }
}

@media (min-width: 371px) and (max-width: 460px) {
  .input_client {
    width: 75%;
  }
}

@media (min-width: 461px) and (max-width: 540px) {
  .input_client {
    width: 81%;
  }
}

@media (min-width: 541px) and (max-width: 630px) {
  .input_client {
    width: 84%;
  }
}

@media (min-width: 631px) and (max-width: 800px) {
  .input_client {
    width: 87%;
  }
}

@media (min-width: 801px) and (max-width: 900px) {
  .input_client {
    width: 90%;
  }
}

@media (min-width: 920px) and (max-width: 1445px) {
  .input_client {
    width: 92%;
  }
}

@media (min-width: 1046px) and (max-width: 1331px) {
  .input_client {
    width: 93%;
  }
}

@media (max-width: 430px) {
  .add_navigation a {
    font-size: 0.5em !important;
  }
}

@media (max-width: 560px) {
  .add_navigation a {
    font-size: 0.8em !important;
  }
}

@media (max-width: 644px) {
  .news {
    display: none;
  }

  .add_navigation {
    width: 27% !important;
  }

  .add_navigation a {
    font-size: 1.0em;
  }
}

@media (min-width: 645px) and (max-width: 719px){
  .add_navigation a {
    font-size: 0.7em;
  }
}

@media (min-width: 720px) and (max-width: 779px){
  .add_navigation a {
    font-size: 0.8em;
  }
}

@media (min-width: 780px) and (max-width: 870px){
  .add_navigation a {
    font-size: 0.9em;
  }
}

@media (max-width: 890px) {
  .add_navigation {
    width: 17%;
  }

  #total_percent {
    float: right;
  }

  #percent {
    width: 100%;
  }
}

@media (min-width: 350px) and (max-width: 471px) {
  .inputuser {
    width: 89%;
    float: unset;
  }
}

@media (min-width: 471px) and (max-width: 640px) {
  .inputuser {
    width: 92%;
    float: unset;
  }
}

@media (min-width: 641px) and (max-width: 740px) {
  .inputuser {
    width: 94%;
    float: unset;
  }
}

@media (min-width: 741px) and (max-width: 880px) {
  .inputuser {
    width: 95%;
    float: unset;
  }
}

@media (min-width: 871px) and (max-width: 1285px){
  .add_navigation a {
    font-size: 1.1em;
  }

  .add_navigation {
    width: 20%;
  }
}

@media  (min-width: 1000px) and (max-width: 1399px){
  .ground {
    font-size: 120pt;
  }
}

@media  (min-width: 850px) and (max-width: 999px){
  .ground {
    font-size: 100pt;
  }
}

@media  (min-width: 650px) and (max-width: 849px){
  .ground {
    font-size: 80pt;
  }
}

@media  (min-width: 520px) and (max-width: 649px){
  .ground {
    font-size: 70pt;
  }
}

@media  (min-width: 450px) and (max-width: 519px){
  .ground {
    font-size: 60pt;
  }
}

@media (max-width: 519px){
  .ground {
    font-size: 50pt;
  }
}